@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
  background-image: url("../img/fondo5.jpg");
}

h1 {
  color: #4b3c24;
  font-family: "Dancing Script", cursive;
  font-size: 450%;
  font-weight: bold;
  margin: 3% 1% 3% 2%;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 120%;
  margin: 30px;
  text-align: justify;
}

table {
  background-color: #ffffff;
  border-collapse: collapse;
  border-radius: 1em;
  font-size: 110%;
  width: 85%;
  overflow: hidden;
  margin: auto;
}

td,
th {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
  margin: 0px;
}

li {
  list-style-type: circle;
  text-align: left;
}

img {
  border-radius: 0.5em;
}

hr {
  height: 5px;
  background-color: #4b3c24;
}

footer {
  margin: 10px;
}

input,
textarea {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 90%;
}

.container-fluid {
  text-align: center;
}
.menu {
  color: #d8670d;
  margin: 0 20px 20px 0;
}
.menu:hover {
  color: #4b3c24;
  font-size: 120%;
  text-decoration: none;
  transition: 0.3s;
}

.cabecera-menu {
  background-color: #725d3c;
  color: #ffffff;
  font-family: "Dancing Script", cursive;
  font-size: 120%;
  padding: 15px;
}

.img-menu-dxa {
  margin: 1%;
  border-radius: 8em 0em;
}

.img-menu-izq {
  margin: 1%;
  border-radius: 5em 5em;
}

.boton {
  background-color: #d8670d;
  border: none;
  border-radius: 0.5em;
  color: white;
  font-size: 120%;
  opacity: 1;
  padding: 7px 15px;
  transition: 0.3s;
}
.boton:hover {
  color: white;
  opacity: 0.6;
  text-decoration: none;
}

#imgkanji {
  margin: 0% 0% 2% 0%;
}

#fotoprincipal {
  margin: 1% 0 0 0;
}

#eventos2 {
  text-align: center;
}

#eventos3 {
  margin: 60px 0 60px 0;
  text-align: left;
}

#menu3 {
  margin: 10px 0px 10px 0px;
  text-align: center;
}

#menu4 {
  margin: 20px 0 0 0;
}

#reservas1,
#menu1,
#contacto1,
#eventos1 {
  margin: 0 0 25px 0;
}

@media screen and (max-width: 580px) {
  .menu {
    font-size: 17px;
    margin: 0 5px 0 0;
  }
}

@media screen and (max-width: 780.98px) {
  #reservas2 {
    margin: 20px 0px 10px 100px;
    text-align: left;
  }
  #reservas3 {
    margin: 20px 0px 10px 0px;
    text-align: center;
  }
  #eventos3 {
    margin: 0 auto 25px auto;
    text-align: center;
  }
  #eventos4 {
    margin: auto;
    text-align: center;
  }

  #contacto2 {
    margin: 0 auto 25px auto;
    text-align: center;
  }
  #contacto3 {
    margin: auto;
    text-align: center;
  }
}
@media screen and (min-width: 781px) {
  #reservas2 {
    text-align: right;
  }
  #reservas3 {
    text-align: left;
  }
  form {
    text-align: right;
  }
  #eventos3 {
    margin: 0 auto 25px auto;
  }
  #eventos4 {
    margin: auto;
    text-align: left;
  }
  #contacto2 {
    margin: 0 auto 25px auto;
    padding: auto auto auto 100px;
  }
  #contacto3 {
    margin: auto;
    text-align: left;
  }
}
