@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
  background-image: url("../img/fondo3.jpg");
}

h1 {
  color: #4b3c24;
  font-family: "Dancing Script", cursive;
  font-size: 450%;
  font-weight: bold;
  margin: 3% 1% 3% 2%;
}

h3 {
  font-size: 170%;
  margin: 0% 2% 2% 2%;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 120%;
  margin: 30px;
  text-align: justify;
}

table {
  background-color: #ffffff;
  border-collapse: collapse;
  border: dotted 1px #4b3c24;
  font-size: 120%;
  margin: auto;
  width: 80%;
  border-radius: 1em;
  overflow: hidden;
}

td,
th {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
  margin: 0px;
}

li {
  list-style-type: circle;
  text-align: left;
}

hr {
  height: 5px;
  background-color: #4b3c24;
}

footer {
  margin: 10px;
}

.container-fluid {
  text-align: center;
}
.menu {
  color: #d8670d;
}
.menu:hover {
  color: #4b3c24;
  font-size: 120%;
  text-decoration: none;
  transition: 0.3s;
}

.cabecera-menu {
  background-color: #725d3c;
  color: #ffffff;
  font-family: "Dancing Script", cursive;
  font-size: 120%;
  padding: 20px;
}

.img-menu {
  margin: 1%;
}

#imgkanji {
  margin: 0% 0% 2% 0%;
}

#fotoprincipal {
  margin: 1% 0 0 0;
}
#boton-volver {
  background-color: #d8670d;
  border-color: #d8670d;
  font-size: 120%;
  opacity: 1;
  transition: 0.3s;
}
#boton-volver:hover {
  opacity: 0.6;
}

#menu2,
#menu3 {
  margin: 10px;
  text-align: center;
}

@media screen and (min-width: 991px) {
  #uno {
    background-color: lawngreen;
  }
  #dos {
    background-color: red;
  }
  #tres {
    background-color: red;
  }
  #cuatro {
    background-color: red;
  }
  #cinco {
    background-color: yellow;
  }
  #seis {
    background-color: yellow;
  }
}

@media screen and (max-width: 991px) {
  #uno {
    background-color: turquoise;
  }
  #dos {
    background-color: red;
  }
  #tres {
    background-color: red;
  }
  #cuatro {
    background-color: lawngreen;
  }
  #cinco {
    background-color: yellow;
  }
  #seis {
    background-color: yellow;
  }
}

@media screen and (max-width: 767.98px) {
  #uno {
    background-color: salmon;
  }
  #dos {
    background-color: red;
  }
  #tres {
    background-color: turquoise;
  }
  #cuatro {
    background-color: red;
  }
  #cinco {
    background-color: yellow;
  }
  #seis {
    background-color: yellow;
  }
}
